<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <label v-for="item in 5">
          <input
            v-model="selectedId"
            :value="item"
            type="radio"
            name="meetupId"
          />
          {{ item }}
        </label>
        <hr />
        <h3 v-if="meetupTitle">{{ meetupTitle }}</h3>
      </div>
    </div>

    <script type="module" src="./script.js"></script>
  </body>
</html>
